<div class="container">
    <div class="row">
<div class="col-md-3">
    <button type="button" class="btn btn-primary" routerLink="userList">User List</button>
</div>
<div class="col-md-3">
    <button type="button" class="btn btn-primary" routerLink="addProduct">Add Product</button>
</div>  <div class="col-md-3">
    <button type="button" class="btn btn-primary" routerLink="home">View Product</button>
</div><div class="col-md-3">
    <button type="button" class="btn btn-primary" (click)="adminLogout" routerLink="">logout</button>
</div>
</div>